{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My Learning Organizer{% endblock title %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel=icon href={% static 'images/MLOLogo.png' %} sizes=16x16 type=image/png>
    <link rel=icon href={% static 'images/MLOLogo.png' %} sizes=32x32 type=image/png>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
 
  </head>

  <body>

      {% include "navigation.html" %}

      <div class="">
           <div class="row">
                <div class="col-md-3">
                    {% include 'todoapp/partials/aside.html' %}

                </div>
                <div class="col-md-6">
                     {% block content %}
                     
                     {% endblock %}
                </div>
                <div class="col-md-3">

                </div>
           </div>
      </div>
   
  </body>
</html>